/* MTM1544 Week 1: your stylesheet.
   This file is already linked from index.html. Write your rules below.
   Start by changing the body background colour and saving, to confirm the link works. */

   /* added box sizing border box */
*{
   box-sizing: border-box;
}

   /* changed main header BG color  */
   h1 {
   background-color: tan; 
}
/* changed sub headers main color, change colour and height on paragraphs  */
h2 { 
   color: #05059a;
}
p{
   color: red;
   line-height: 1.5em;
}
/* Group both intro and summit into element types into one rule using a comma */

/* changed intro paragraph to cursive font using a class */
#intro {
   font-family: cursive;
}
/* changed summit header to Lucida Sans font using a id */
.summit {
   font-family: Lucida Sans;
}

/* added two new rules to change the color of the paragraph text to green and purple. */
p{ 
   color: green;
}
p{
   color: purple;
}

/* This is the start of Week 2 Assignment  */

/* step 2 adding Box elements to a section  */
/* step 3 added width to box element  */
/* step 4 added MLA and MRA to box  */

div{
   background-color: #adff2f;
   width: 70%;
   padding: 1em;
   border: 5px  solid black;
   margin: 40px; 
   margin-left: auto;  margin-right: auto;
}
   
   /* step 5 adding margins to the seperate paragraphs  */
   .a {
      margin-bottom: 80px;
   }
   .b {
      margin-top: 20px;
   }

   img{
      aspect-ratio: 16 / 9;
      width: 100%;
   }

   /* This is the start of Week 3 Assignment: T&CP*/

   /* step 1, added font family, size and line weight  */
   body{
      font-family:'Times New Roman', Times, Arial, "sans-serif";
      font-size: 2rem;
      line-height: 1.7;
 }
 /* step 2, added different font sizes and hights to H1 and H2 as well as text wrap  */
 h1{
   font-size: 5rem;
   line-height: 1.5;
   text-wrap: balance;
 }
/* Step 3 added limelight font and font weight  */
 h2{
   font-size: 3rem;
   line-height: 1.5;
   text-wrap: balance;
   font-family: Limelight, Times, sans-serif;
   font-weight: lighter;
 }
/* step 4 added HSL and OKLCH colour red for testing  */
 p {
  font-family: system-ui, sans-serif;
  padding: 8px 14px;
  margin: 0 0 4px 0;
  color: black;
 }
/* added red HSL 4 coloumns  */
.hsl-r1 { background-color: hsl(0, 90%, 80%); }
.hsl-r2 { background-color: hsl(0, 90%, 60%); }
.hsl-r3 { background-color: hsl(0 90% 40%); }
.hsl-r4 { background-color: hsl(0, 90%, 20%); }

/* added oklch to test HSL comparision  */
.ok90 { background-color: oklch(80.153% 0.11348 19.826); color: white; }
.ok70 { background-color: oklch(66.004% 0.16607 22.723); color: white; }
.ok50 { background-color: oklch(47.066% 0.16619 26.419); color: white; }
.ok30 { background-color: oklch(32.042% 0.13149 29.223); color: white; }

/* added hover to link in html  */
a:hover{
  color: pink;
  background-color: rgb(3, 156, 39);
  text-decoration: underline;
}

/* tested bg box colours and font colours with contrast checker  */